@charset "utf-8";

#bg-slider {
		position: fixed;
		
		height: 100%;
		width: 100%;
		
		top: 0;
		left: 0;
		
		z-index: -1000;
	}
		#bg-slider-1, #bg-slider-2 {
			display:block;
			position:absolute;
			
			height: 100%;
			width: 100%;
			
			background-color: transparent;
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-position-x: right;
			background-position-y: center;
			background-size: cover;
			
			z-index: -999;
		}
		#bg-slider-2 {
			opacity: 0;
			transition: all 2.5s;
			
			z-index: -998;
		}
		#bg-slider-2.active {
			opacity: 1;
			transition: all 2.5s;
		}